{extend name='public:parent'}

{block name="right"}
    <div id="content-container">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">数据统计</h3>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>昨日拼团数</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>总拼团数</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>会员余额</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>会员提现</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


   
</div>
{/block}