{extend name='public:parent'}

{block name="right"}
<div id="content-container" class="goods_container">
    <div class="div_local">
        <ol class="breadcrumb">
            <li><a href="/admin/Index/index">首页</a></li>
            <li><a href="#">盲盒管理</a></li>
            <li class="active">盲盒列表</li>
        </ol>
    </div>

    <div class="goods_content">
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>图片</th>
                <th>等级</th>
                <th>数量</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach name="$list" item="vo"}
            <tr>
                <td>{$vo['id']}</td>
                <td>{$vo['name']}</td>
                <td><img id="img" style="height:40px;" src="{$vo['img']}"/></td>
                <td>{$vo['level']}</td>
                <td>{$vo['num']}</td>
                <td>{$vo['create_time']}</td>
                <td>
                    <a type="button" class="btn btn-success  btn-xs btn-rounded"
                       href="{:url('Admin/Box/edit',array('id'=>$vo['id']))}"> 编辑 </a>
                    {if $vo['status']=='1'}
                    <a type="button" class="btn btn-warning  btn-xs btn-rounded"
                       href="{:url('Admin/Box/editBox',array('id'=>$vo['id'],'status'=>2))}"> 下架 </a>
                    {/if}
                    {if $vo['status']=='2'}
                    <a type="button" class="btn btn-warning  btn-xs btn-rounded"
                       href="{:url('Admin/Box/editBox',array('id'=>$vo['id'],'status'=>1))}"> 上架 </a>
                    {/if}
                    <a type="button" class="btn btn-danger  btn-xs btn-rounded"
                       href="javascript:if(confirm('确认删除这商品？'))location='{:url('Admin/Box/del',array('id'=>$vo['id']))}'">
                        删除 </a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {$list->render()}
    </div>

</div>
{/block}