{extend name='public:parent'}

{block name="right"}
<style>
.maskLayer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    display: none;
    /*opacity: 0.3;*/
}
    .send {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 300px;
        background: #fff;
        border-radius: 20px;
    }
    .sendMessage {
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
        border-bottom: 1px solid  #909399;
        font-size: 22px;
        line-height: 50px;
        text-align: center;
    }
    .sendLogistics {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .sendLogistics span {
        margin-right: 10px;
    }
    .sendLogistics input {
        height: 30px;
        border: 1px solid #909399;
        /*outline: #909399 solid 1px ;*/
        outline: none;
    }
    .sendLogistics input:focus {
        border: 1px solid #909399;
    }
    .sendLogistics select {
        width: 170px;
        height: 30px;
        text-align: center;
        outline: none;
    }
    .sendLogistics select:focus {
        border: 1px solid #909399;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .confirm {
        width: 70px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        color: #fff;
        background-color: #409EFF;
        margin-right: 50px;
    }
    .cancel {
        width: 70px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        color: #fff;
        background-color: #606266;
    }
</style>
<div id="content-container" class="goods_container">
    <div class="div_local">
        <ol class="breadcrumb">
            <li><a href="/admin/Index/index">首页</a></li>
            <li><a href="#">会员管理</a></li>
            <li class="active">会员列表</li>
        </ol>
    </div>
    <div style="display:flex;justify-content: space-between;">
        <div class="cf">
            <form class="form-inline" action="" method="get">

                <label class="inline">会员名称</label>
                <input type="text" name="username" value="" class="form-control">
                <label class="inline">是否合伙人</label>
                <select name="is_partner" class="form-control">
                    <option value="">--全部--</option>
                    <option value="0">--非合伙人--</option>
                    <option value="1">--合伙人--</option>
                </select>
                <label class="inline">注册时间</label>
                <select name="create_time" class="form-control">
                    <option value="">--全部--</option>
                    <option value="1">--一周内--</option>
                    <option value="2">--半月内--</option>
                    <option value="3">--一个月内--</option>
                </select>

                <button type="submit" class="btn btn-purple btn-sm">
                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                    搜索
                </button>
            </form>
        </div>
        <div class="text-xs-center">
            <div class="form-group">
                <a href="{:url('Users/editPartnerConfig')}">
                    <button id="demo-btn-addrow" class="btn btn-purple"><i class="demo-pli-plus"></i> 合伙人配置</button>
                </a>
            </div>
        </div>
    </div>
    <div class="goods_content" style="margin-top:20px">
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th>ID</th>
                <th>会员名称</th>
                <th>会员头像</th>
                <th>手机号</th>
                <th>上级</th>
                <th>注册时间</th>
                <th>余额</th>
                <th>积分</th>
                <th>提现额度</th>
                <th>状态</th>
                <th>是否合伙人</th>
                <th>合伙人积分</th>
                <th>核销券</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach name="$list" item="vo"}
            <tr>
                <td>{$vo['users_id']}</td>
                <td>{$vo['username']}</td>
                <td><img id="goods_img" style="height:40px;" src="{$vo['avatar']}"/></td>
                <td>{$vo['phone']}</td>
                <td>{$vo['parent_name']}</td>
                <td>{$vo['reg_time']}</td>
                <td>{$vo['balance_money']}</td>
                <td>{$vo['point']}</td>
                <td>{$vo['point_withdraw_amount']}</td>
                <td>{$vo['status_name']}</td>
                <td>{$vo['partner']}</td>
                <td>{$vo['partner_money']}</td>
                <td>{$vo['verify_num']}</td>
                <td>
                    <a type="button" class="btn btn-info  btn-xs btn-rounded"
                       href="{:url('Admin/Users/usersInfo',array('id'=>$vo['users_id']))}"> 详情 </a>
                    {if $vo['status']=='0'}
                    <a type="button" class="btn btn-warning  btn-xs btn-rounded"
                       href="{:url('Admin/Users/editUsers',array('id'=>$vo['users_id'],'status'=>1))}"> 解封 </a>
                    {else}
                    <a type="button" class="btn btn-danger  btn-xs btn-rounded"
                       href="javascript:if(confirm('确认拉黑这用户？'))location='{:url('Admin/Users/editUsers',array('id'=>$vo['users_id'],'status'=>0))}'">
                        拉黑 </a>
                    {/if}

                    {if $vo['is_partner']=='0'}
                    <a type="button" class="btn btn-warning  btn-xs btn-rounded"
                       href="javascript:if(confirm('确认升级这用户？'))location='{:url('Admin/Users/editUsers',array('id'=>$vo['users_id'],'is_partner'=>1))}'">
                        升为合伙人 </a>
                    {else}
                    <a type="button" class="btn btn-danger  btn-xs btn-rounded"
                       href="{:url('Admin/Users/editUsers',array('id'=>$vo['users_id'],'is_partner'=>0))}"> 取消合伙人 </a>
                    {if $vo['partner_whitelist']=='0'}
                    <a type="button" class="btn btn-primary  btn-xs btn-rounded"
                       href="javascript:if(confirm('确认这用户设置白名单？'))location='{:url('Admin/Users/editUsers',array('id'=>$vo['users_id'],'partner_whitelist'=>1))}'">
                        设置白名单 </a>
                    {else}
                    <a type="button" class="btn btn-success  btn-xs btn-rounded"
                       href="{:url('Admin/Users/editUsers',array('id'=>$vo['users_id'],'partner_whitelist'=>0))}">
                        取消白名单 </a>
                    {/if}
                    {/if}
                    <!--<a  type="button" class="btn btn-danger  btn-xs btn-rounded"  href="javascript:if(confirm('确认删除这用户？'))location='{:url('Admin/Users/delUsers',array('id'=>$vo['users_id']))}'">  删除  </a>-->
                    <a type="button" class="btn btn-danger  btn-xs btn-rounded"
                       href="javascript:if(confirm('确认让此用户重置密码？(初始密码为123456)'))location='{:url('Admin/Users/editUsers',['id'=>$vo['users_id'],'reset_pwd'=>1])}'">
                        重置密码 </a>
                    <div onclick="send({$vo['users_id']},{$vo['balance_money']})" type="button" class="btn btn-warning  btn-xs btn-rounded"> 修改余额 </div>

                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {$list->render()}
    </div>
      <div class="maskLayer" id="modal">
            <div class="send">
                <div class="sendMessage">修改余额</div>
                <div>
                      <div class="sendLogistics">
                         <span>余额</span>
                            <input type="text" name="" id="price" value="" />
                        </div>
                    <div class="button">
                        <div class="confirm" onclick="confirms()">确认</div>
                        <div class="cancel" onclick="cancel()">取消</div>
                    </div>
                    <input type="hidden" name=""  id="hiddenId" value="" />
                </div>
            </div>
        </div>
</div>
   <script type="text/javascript" charset="utf-8">
        function send (id,money) {
            $('#hiddenId').val(id);
             $("#price").val(money);
            $('#modal').css('display','block');
        }
        function cancel () {
            $('#modal').css('display','none');
        }
        
        function confirms () {
            
            $.ajax('editMoney', {
                method: 'POST',
                data: {price: $('#price').val(),  users_id:$('#hiddenId').val()},
                success:function (result) {
                    alert('修改成功')
                    if(result.code == 1)
                    {
                        location.href= 'userslist'+location.search;
                    }
                   
                },
                error:function (err) {
                    console.log(err);
                }
            })
        }
    </script>
{/block}