{extend name='public:parent'}

{block name="right"}
<style>
    .file_image {margin-left: 15px;}
    .form-control {
        height: auto;
    }
</style>

<div id="content-container" class="goods_container">
        <div class="div_local">
            <ol class="breadcrumb">
                <li><a href="/admin/Index/index">首页</a></li>
                <li><a href="#">服务中心</a></li>
                <li class="active">编辑服务中心</li>
            </ol>
        </div>
        <div id="add_container">
            <form action="{:url('Service/serviceAdd')}" class="form-horizontal"  enctype="multipart/form-data"   method="post" onsubmit="return checkValid(this)"  >
                <div class="form-group">
                    <label for="service_name" class="col-sm-2 control-label">服务中心名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control txt_250" id="service_name" name="service_name" value="{$info['service_name']}" placeholder="请输入服务中心名称">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">管理员名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control txt_250" id="username" name="username" value="{$info['username']}" placeholder="请输入管理员名称">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">管理员密码</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control txt_250" id="password" name="password" placeholder="请输入管理员密码">
                    </div>
                </div>
                <input type="hidden" id="id" name="id" value="{$info['service_id']}">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn  btn_submit">保存</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>


<script>
   

    //验证
    function checkValid(obj) {
        var service_name = $("#service_name").val();
        var username = $("#username").val();
        var password = $("#password").val();
        if (service_name == ''){
            layer.alert('服务中心名称不能为空！');
            return false;
        }
        if (username == ''){
            layer.alert('管理员名称不能为空！');
            return false;
        }
        if (password == ''){
            layer.alert('管理员密码不能为空！');
            return false;
        }
        return true;
    }

    function changeVal(obj) {
        var val = $(obj).val();
        if (val == 1){
            $(obj).val(0);
        }else{
            $(obj).val(1);
        }
    }


</script>

{/block}